{% extends 'base.html' %}
{% block title %}Inscribe: Create Note{% endblock %}
{% block body %}
<a id="goBackBtn" href="/">
    <span id="btn"><svg id="backToBtn" xmlns="http://www.w3.org/2000/svg" height="1.3em" viewBox="0 0 320 512">
            <style>
                #backToBtn {
                    fill: #494949;
                    margin-right: 1vw;
                }
            </style>
            <path
                d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l160 160c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 246.6 118.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-160 160z" />
        </svg>
        Go Back</span>
</a>
<center><h2>Create Notes</h2></center>
<form action="/create" method="post">
    <input type="text" name="notesName" id="notesName" placeholder="Notes Name" autocomplete="off">
    <textarea name="notesContent" id="notesContent" cols="30" rows="10" placeholder="Notes Content"></textarea>
    <input type="submit" value="Save">
</form>
{% endblock %}