{% extends 'base.html' %}
{% block title %}Your Tasks{% endblock %}
{% block body %}
<center>
    <h2 style="margin-bottom: 2vh;">Your Tasks</h2>
</center>
{% if tasks %}
<ul>
    {% for task in tasks %}
    {% if task.is_completed == False %}
    <li><a href="{{url_for('viewTask', id=task.id)}}" style="text-decoration: none; color: black;">
            <h3>{{task.taskName}}</h3>
            <a href="{{url_for('completeTask', id=task.id)}}" id="doneBtn">Done</a>
        </a>
    </li>
    {% else %}
    <li><a href="{{url_for('viewTask', id=task.id)}}" style="text-decoration: line-through; color: #494949;">
            <h3>{{task.taskName}}</h3>
            <a href="/completeTask" id="doneBtn">Done</a>
        </a>
    </li>
    {% endif %}

    {% endfor %}
</ul>
{% else %}

<center>
    <h1 id="noTasksNotification">No Tasks Available</h1>
</center>

{% endif %}

{% endblock %}